<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore recipes</title>
    <link rel="stylesheet" href="css\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../shared/head") %>
    <main class="grid-container">
        <% for(let recipe of recipes) { %>
        <div class="recipe">
            <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
            <h2><%= recipe.title %></h2>
            <p><%= recipe.description %></p>
            <h3>Ingredients:</h3>
            <ul>
                <li><%= recipe.ingredients %></li>
            </ul>
            <h3>Instructions:</h3>
            <ol>
                <% for(let sentence of recipe.instructions.split('.')) { %>
                    <% if (sentence.trim() !== '') { %>
                        <li><%= sentence.trim() %></li>
                    <% } %>
                <% } %>
            </ol>
            <!-- Add Comment Form -->
            <form action="/comments" method="POST">
                <input type="hidden" name="recipeId" value="<%= recipe._id %>">
                <textarea id="comments" name="comments" placeholder="Add your comment..." required></textarea>
                <button type="submit">Add Comment</button>
            </form>
            <!-- Existing Comments -->
            <h4 style="margin-top: 15px;">Comments</h4>
            <ul class="comment-list">
                <% comments.forEach(function(comment) { %>
                    <% if (comment.recipeId.toString() === recipe._id.toString()) { %>
                        <li class="comment">
                            <%= comment.comments %>
                            <!-- Display other comment details like author and timestamp if needed -->
                        </li>
                    <% } %>
                <% }); %>
            </ul>
            
        </div>
        <% } %>
    </main>
</body>

<% include("../shared/footer") %>
</html>
