<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Explore Recipes</title>
    
</head>
<body class="body_recipes">
    <%- include("../shared/head") %>
    <main class="grid-container">
    <!-- Recipe 1: Spaghetti Carbonara -->
    <% for(let recipe of recipes) { %>
        <div class="recipe">
            <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
            <h2><%= recipe.title %></h2>
            <p><%= recipe.description %></p>
            <h3>Ingredients:</h3>
            <ul>
                <li><%= recipe.ingredients %></li>
            </ul>
            <h3>Instructions:</h3>
            <ol>
                <% for(let sentence of recipe.instructions.split('.')) { %>
                    <% if (sentence.trim() !== '') { %>
                        <li><%= sentence.trim() %></li>
                    <% } %>
                <% } %>
            </ol>
        </div>
    <% }; %>
    </main>
</body>
<%- include("../shared/footer") %>
</html>
